.faq {
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	border-radius: 4px;
	
	margin-bottom: 1em;
}

.question:before {
	content:"Q: ";
	color: darkblue;
	font-weight: bold;
}
.question {
	/*border-style: solid;
	border-color: gray;
	border-width: 1px;
	border-bottom-width: 0;
	border-radius: 4px;*/
	
	margin: 0.5em;
}

.answer:before {
	content:"A: ";
	color: darkgreen;
	font-weight: bold;
}
.answer {
	/*border-style: solid;
	border-color: gray;
	border-left-width: 1px;
	border-right-width: 1px;
	border-radius: 4px;*/
	
	margin: 0.5em;
	margin-left: 1.5em;
}

.showToggle {
	color: gray;
	font-size: 80%;
	
	margin: 0.5em;
}