body{
	width: 100%;
	margin: auto;
	background-color: #f5f5dc;
}
.container{
	width: 960px;
	margin: 0 auto;
}

.header{
	background: #c46200;
	width: 100%;
	top: 0;
	position: fixed;
}

.logo {
	float: left;
	text-align: bottom;
}

a {
	text-decoration: none;
	color: #fff;
}

li {
	list-style: none;
	float: left;
	margin-left: 10px;
	padding-Top: 15px;

}

.nav {
	float: right;


}

.img1 {
	padding-top: 170px;

}
.firstpara {
	padding-top: 190px;
	
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}