/* Header */
.header{
	background: #c46200;
	width: 100%;
	top: 0;
	position: fixed;
}

.logo {
	float: left;
	text-align: bottom;
	margin-top: 6px;
	margin-bottom: 4px;
}

.nav {
	float: right;
	margin-bottom: 10px;

}

a {
	text-decoration: none;
	color: #fff;
}

li {
	list-style: none;
	float: left;
	margin-left: 10px;
	padding-Top: 15px;

}

/* Body */
body{
	width: 100%;
	margin: auto;
	background-color: #f5f5dc;
}
.container{
	width: 960px;
	margin: 0 auto;
}

.img1 {
	padding-top: 170px;

}

.form1 {
	padding-top: 170px;

}
.pushed {
	padding-Top: 170px;
	
}
.firstpara {
	padding-top: 190px;
	
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/* Informaion Page */
.faq {
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	border-radius: 4px;
	
	margin-bottom: 1em;
}

.question:before {
	content:"Q: ";
	color: darkblue;
	font-weight: bold;
}
.question {
	/*border-style: solid;
	border-color: gray;
	border-width: 1px;
	border-bottom-width: 0;
	border-radius: 4px;*/
	
	margin: 0.5em;
}

.answer:before {
	content:"A: ";
	color: darkgreen;
	font-weight: bold;
}
.answer {
	/*border-style: solid;
	border-color: gray;
	border-left-width: 1px;
	border-right-width: 1px;
	border-radius: 4px;*/
	
	margin: 0.5em;
	margin-left: 1.5em;
}

.showToggle {
	color: gray;
	font-size: 80%;
	
	margin: 0.5em;
	cursor:pointer;
}

footer {
  display: block;
}